* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ms_secondary-color: #1b72e8;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

/* HEADER */

header {
  height: 10%;
  width: 100%;
}

img {
  height: 50px;
  width: 50px;
}

/* MAIN */

.row {
  height: 90%;
  width: 100%;
}

.container i {
  color: white;
  font-size: 40px;
}

.ms_last-i {
  bottom: 10%;
  left: 40%;
}

/* COLONNA SINISTRA */

.container-input {
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

.signals {
  height: 10%;
}

/* COLONNA DESTRA */

.info-container {
  width: 85%;
  height: 100%;
}

.container .col:first-child {
  background-color: var(--ms_secondary-color);
  color: white;
}

.container .col:first-child .card {
  background-color: var(--ms_secondary-color);
  color: white;
  height: 33%;
}
